<div class="bg-white shadow-lg rounded-lg p-6 w-full h-[90vh] overflow-y-auto border-4 border-turquesaMaya">
    <div class="title-wrapper mb-4">
        <span class="text-2xl font-bold text-azulProfundo">Listado de cerámicas</span>
        <button type="button" class="bg-turquesaMaya text-white mx-3 px-2 py-2 rounded-lg shadow-lg hover:bg-azulProfundo transition" (click)="goToAddCeramic()">
            Nueva cerámica
        </button>
    </div>
    <div class="space-y-4" *ngIf="ceramics?.length">
        <div class="flex items-center ceramic-wrapper" *ngFor="let ceramic of ceramics">
            <div [style.background-image]="'url(' + ceramic.ce_img_schedule + ')'" class="img-wrapper"></div>
            <div class="all-data-wrapper">
                <div class="top-wrapper">
                    <div class="first-data-wrapper">
                        <b class="text-turquesaMaya font-high">{{ ceramic.ce_title }}</b>
                        <div class="secondary-data mt-1"> 
                            <span class="material-icons mr-1">category</span>
                            <small>{{ ceramic.typology.ty_name }}</small>
                        </div>
                    </div>
                    <div class="second-data-wrapper">
                        <span [appTooltip]="ceramic.ce_description">{{ ceramic.ce_description && ceramic.ce_description.length >= 150 ? ceramic.ce_description.substr(0, 150) + '...' : ceramic.ce_description }}</span>
                    </div>
                </div>
                <div class="tags-wrapper">
                    <div *ngIf="ceramic.ce_musical_instruments.length" class="flex w-full flex-wrap">
                        <div *ngFor="let ico of ceramic.ce_musical_instruments" class="bg-gray-100 text-center w-auto w-2/12 rounded-xl text-turquesaMaya text-xs h-6 mr-2 shadow flex items-center justify-center px-2">
                            <span>{{ ico }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions-wrapper">
                <i class="material-icons mr-2 text-turquesaMaya cpointer" (click)="goToEdition(ceramic.ce_id)">edit</i>
                <i class="material-icons mr-2 text-turquesaMaya cpointer" (click)="goToDelete(ceramic.ce_id)">delete</i>
            </div>
        </div>
    </div>
  </div>