

    <div class="bg-grisAzulado min-h-screen flex flex-col md:flex-row p-6 gap-6 bg-cover bg-center bg-fixed" 
    style="background-image: url('https://upload.wikimedia.org/wikipedia/commons/6/6e/Bonampak_mural._Room_1._Musicians_and_dancers.jpg'); background-blend-mode: overlay;">
      
      <!-- 📜 Sección Izquierda (Formulario con Scroll) -->
      <div class="bg-white shadow-lg rounded-lg p-6 w-full md:w-1/2 h-[90vh] overflow-y-auto border-4 border-turquesaMaya">
        <h2 class="text-3xl font-bold text-azulProfundo text-center mb-4">Agregar Instrumento Maya</h2>
        
        <form>
          <div class="mb-4">
            <label class="block text-jade font-medium mb-1">Título</label>
            <input type="text" placeholder="Ej. K1208" [(ngModel)]="ceramics.ce_title"
                   class="w-full border border-turquesaMaya rounded-lg px-4 py-2 focus:ring-2 focus:ring-azulCielo focus:outline-none">
          </div>
  
          <div class="mb-4">
            <label class="block text-jade font-medium mb-1" [(ngModel)]="ceramics.ce_description">Descripción</label>
            <textarea placeholder="Descripción del instrumento..."
                      class="w-full border border-turquesaMaya rounded-lg px-4 py-2 focus:ring-2 focus:ring-azulCielo focus:outline-none"></textarea>
          </div>
  
          <div class="mb-4">
            <label class="block text-jade font-medium mb-1">Subir Imagen</label>
            
            <!-- Campo simulado -->
            <div class="w-full border border-turquesaMaya rounded-lg px-4 py-2 flex items-center bg-white bg-opacity-80 justify-between">
              <!-- Nombre del archivo seleccionado -->
              <span id="fileName" class="text-gray-600">Ningún archivo seleccionado</span>
              <!-- Botón de selección -->
              <label for="imageUpload" 
                     class="cursor-pointer bg-turquesaMaya text-white px-4 py-2 rounded-lg shadow-lg hover:bg-azulProfundo transition inline-block">
                Seleccionar
              </label>
              <!-- Input oculto -->
              <input type="file" accept="image/*" id="imageUpload" class="hidden">
            </div>
          
          </div>
  
          <div class="mb-4">
            <label class="block text-jade font-medium mb-1">Ubicación</label>
            <input type="text" placeholder="Ej. Perú" [(ngModel)]="ceramics.ce_location"
                   class="w-full border border-turquesaMaya rounded-lg px-4 py-2 focus:ring-2 focus:ring-azulCielo focus:outline-none">
          </div>
  
          <div class="mb-4">
            <label class="block text-jade font-medium mb-1">Elaboración</label>
            <input type="text" placeholder="Ej. 800 a.c" [(ngModel)]="ceramics.ce_creation_date"
                   class="w-full border border-turquesaMaya rounded-lg px-4 py-2 focus:ring-2 focus:ring-azulCielo focus:outline-none">
          </div>
  
          <div class="mb-4">
            <label class="block text-jade font-medium mb-1">Categoría</label>
            <select class="w-full border border-turquesaMaya rounded-lg px-4 py-2 focus:ring-2 focus:ring-azulCielo focus:outline-none" [(ngModel)]="ceramics.ce_category">
              <option>Sin categoría</option>
              <option>Tambor</option>
              <option>Flauta</option>
              <option>Maracas</option>
              <option>Otro</option>
            </select>
          </div>
  
          <div class="mb-4">
            <label class="block text-jade font-medium mb-1">Altura</label>
            <input type="number" min="0" placeholder="Ej. 20.5" [(ngModel)]="ceramics.ce_measures.height"
                   class="w-full border border-turquesaMaya rounded-lg px-4 py-2 focus:ring-2 focus:ring-azulCielo focus:outline-none">
          </div>

          <div class="mb-4">
            <label class="block text-jade font-medium mb-1">Diametro</label>
            <input type="number" min="0" placeholder="Ej. 11.5" [(ngModel)]="ceramics.ce_measures.diameter"
                   class="w-full border border-turquesaMaya rounded-lg px-4 py-2 focus:ring-2 focus:ring-azulCielo focus:outline-none">
          </div>

          <div class="mb-4">
            <label class="block text-jade font-medium mb-1">Circumferencia</label>
            <input type="number" min="0" placeholder="Ej. 1" [(ngModel)]="ceramics.ce_measures.circumference"
                   class="w-full border border-turquesaMaya rounded-lg px-4 py-2 focus:ring-2 focus:ring-azulCielo focus:outline-none">
          </div>
          <div class="mb-4">
            <label class="block text-jade font-medium mb-1">Escuela</label>
            <input type="text" placeholder="Ej. Princeton" [(ngModel)]="ceramics.ce_school"
                   class="w-full border border-turquesaMaya rounded-lg px-4 py-2 focus:ring-2 focus:ring-azulCielo focus:outline-none">
          </div>
          <div class="mb-4">
            <label class="block text-jade font-medium mb-1">Propiedad de</label>
            <input type="text" placeholder="Ej. Princeton Art Museum Princeton NJ PUAM# y1975-17" [(ngModel)]="ceramics.ce_property"
                   class="w-full border border-turquesaMaya rounded-lg px-4 py-2 focus:ring-2 focus:ring-azulCielo focus:outline-none">
          </div>
          <div class="mb-4">
            <label class="block text-jade font-medium mb-1">Elementos iconográficos</label>
            <input type="text" placeholder="Ej. Diosa O" [(ngModel)]="ceramics.ce_iconographic_elements"
                   class="w-full border border-turquesaMaya rounded-lg px-4 py-2 focus:ring-2 focus:ring-azulCielo focus:outline-none">
          </div>
          <div class="mb-4">
            <label class="block text-jade font-medium mb-1">Instrumentos musicales</label>
            <input type="text" placeholder="Ej. Caracola" [(ngModel)]="ceramics.ce_musical_instruments"
                   class="w-full border border-turquesaMaya rounded-lg px-4 py-2 focus:ring-2 focus:ring-azulCielo focus:outline-none">
          </div>
          <div class="flex justify-end mt-4">
            <button class="bg-turquesaMaya text-white mx-3 px-4 py-2 rounded-lg shadow-lg hover:bg-azulProfundo transition" (click)="saveCeramics()">
              Guardar
            </button>
            <button type="reset" class="bg-gray-400 text-white px-4 py-2 rounded-lg shadow-lg hover:bg-gray-600 transition">
              Limpiar
            </button>
          </div>
        </form>
      </div>
  
      <!-- 🎼 Sección Derecha (Listado de Instrumentos) -->
      <div class="bg-white shadow-lg rounded-lg p-6 w-full md:w-1/2 h-[90vh] overflow-y-auto border-4 border-turquesaMaya">
        <h2 class="text-3xl font-bold text-azulProfundo text-center mb-4">Instrumentos Registrados</h2>
  
        <div class="space-y-4">
          <!-- Ejemplo de Instrumento -->
          <div class="flex items-center justify-between bg-gray-100 p-4 rounded-lg shadow">
            <div class="flex items-center space-x-4">
              <img src="https://www.mayavase.com/still/1208still.jpg" alt="Instrumento" class="w-16 h-16 rounded-lg">
              <div>
                <p class="text-lg font-semibold text-jade">K1208</p>
                <p class="text-sm text-gray-500">Tambor - Perú</p>
              </div>
            </div>
            <div class="flex space-x-2">
              <button class="bg-turquesaMaya text-white p-2 rounded-lg hover:bg-azulCielo transition">
                <span class="material-icons">edit</span>
              </button>
              <button class="bg-red-500 text-white p-2 rounded-lg hover:bg-red-700 transition">
                <span class="material-icons">delete</span>
              </button>
            </div>
          </div>
  
          <!-- Más elementos aquí -->
        </div>
      </div>
    </div>
  