<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header bg-danger text-white flex justify-between items-center">
        <div>
            <span class="custom-title" id="deleteModalLabel">{{ data.title }}</span>
        </div>
        <span class="material-icons mr-1 cpointer text-white" (click)="cancel()">close</span>
    </div>
    <div class="modal-body">
        {{ data.message }}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cancel()">Cancelar</button>
        <button type="button" class="btn" [ngClass]="data.btnType" (click)="confirm()">{{ data.action }}</button>
    </div>
    </div>
</div>